*{margin: 0; padding: 0;}
/**{font-style: Arial sans-serif;}*/


.navig *{
    color: #365699;
}
.navig ul {
    padding: 0 !Important;
    margin: 0 !Important;
    display: table !Important;
    width: 100% !Important;
}

.navig li {
    position: relative !Important;
    display: table-cell !Important;
    text-align: center !Important;
    background-color: rgba(51, 106, 221, 0.4);
}
.navig ul ul {
    display:block !Important;
    position:absolute !Important;
    height: 0px !Important;
    overflow: hidden !Important;
    transition: all 0.5s 0.5s ease-out !Important;
    z-index: 1 !Important;
}
.navig a{
    display:block !Important;;
    text-decoration: none !Important;
    color: #fff;
    height: auto !Important;
    /*line-height: auto !Important;*/
    width: 100% !Important;
    text-transform: uppercase !Important;
    font-size: 90% !Important;
}
.navig a:hover {
    background-color: rgba(51, 106, 221, 0.8);
    cursor:pointer !Important;
}

.navig ul ul li{
    display: block !Important;
    width: auto !Important;
}
.navig ul ul a {
    background-color: rgba(51, 106, 221, 0.1);
}
.navig ul ul a:hover {
    background-color: rgba(51, 106, 221, 0.7);
}
.navig li:hover ul{
    width:100% !Important;
    height:200% !Important;
}
.navig ul ul.list{
    width: 150% !Important;
}
.navig li:hover .list{
    width:350% !Important;
    height:300% !Important;
    margin-left: -125% !Important;
}
.navig li:hover .list1{
    width:350% !Important;
    height:200% !Important;
    margin-left: -125% !Important;
}
.navig li:hover .list2{
    width:100% !Important;
    height:100% !Important;
}
/*.menu1 .navig ul li{
    display:inline-block;
    margin: 0% 3%;
}*/


/*.menu1 .navig ul ul{*/
/*    display:none;*/
/*    position: absolute;*/
/*    margin-left: -1%;*/
/*    padding: inherit;*/
/*    background-color: rgba(83,134,139,0.8);*/
/*    background-color: rgba(222,184,135,0.9);*/
/*    background-color: #cfd8dc;*/
/*    z-index: 1;*/
/*}*/

/*.menu1 .navig ul #li1:hover a{*/
/*    background-color: rgba(51, 106, 221, 0.1);*/
/*}*/
/*  .menu1 .navig ul #li2:hover a{*/
/*    background-color: rgba(51, 106, 221, 0.1);*/
/*}*/
/*  .menu1 .navig ul #li3:hover a{*/
/*    background-color: rgba(51, 106, 221, 0.1);*/
/*}*/
/*  .menu1 .navig ul #li4:hover a{*/
/*    background-color: rgba(51, 106, 221, 0.1);*/
/*}*/
/*  .menu1 .navig ul li li :hover a{*/
/*    background-color: rgba(51, 106, 221, 0.1);*/
/*}*/

/*.menu1 .navig li:hover ul{*/
/*    display:block;*/
/*}*/
/*.menu1 .navig li:hover li{*/
/*    display:inline;*/
/*    text-align: center;*/
/*}*/

/*.menu1 .navig ul a{*/
/*    text-decoration: none;*/
/*    font-size: 80% !Important;*/
/*}*/
/*.menu1 ul *{*/
/*    color: #365699;   */
/*}*/

/*.menu1 .navig ul ul.list{*/
/*  margin-left: -8%; */
/*}*/

.menu1 ul{
    position:relative;
    margin:0%;
    padding: 0%;
    /*padding: 1%;*/
    background-color: #cfd8dc;
    text-align: center;
    font-family:Arial;
    
}

.menu4{
    display: none;
}
.menu5{
    display: none;
}

.menu1 ul.menu5 li:hover a{
    text-decoration: underline;
}
.menu1 ul.menu5 li{
    font-size: 68%;
    margin: 0%;
    margin-left: 1%;
}
.menu1 ul.menu5 *{
  color:azure;  
}
.menu1 ul.menu5{
  background-color: #365699;  
}

/*--------------------------------------------------------*/
header{
    position: relative !Important;
    width: 100% !Important;
    height: auto !Important;
    display: flex !Important;
    background-color: #365699;
    
}
header div:nth-of-type(1n+2){
/*    margin-left: 9%;*/
   
}
.Logo{
    /*display: flex;*/
    
}

.Logo a img{
    position: relative !Important;
    width: 25% !Important;
}

    
/* .Name{
   position: absolute !Important;
   width: 75% !Important;
    margin-left: 22% !Important;
} */
.Name{
   position: relative;
   width: 75%;
    align-self: flex-end;
    margin-left: -25%;
}
.Name1{
    position: relative !Important;
}

.pres{
    display:none;
}
body{
    background-color: rgba(83,134,139,0.1);
   height: 100% !Important; 
/*    width: 1280px;*/
    max-width: 768px !Important;
    width: 100% !Important;
    /*margin: 0 auto;*/
    
}
.container{
    background-color: rgba(83,134,139,0.1);
    display: flex !Important;
    flex-wrap: wrap !Important;
   width: 100% !Important;
    height: 100% !Important;
    margin: 0 auto !Important;
    
}
h1{
    color: azure;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 71% !Important;
    padding-bottom: 3% !Important;
}


/*Меню навигации*/
.menu{
    display: none !Important;
}

/*Меню навигации окончание*/

/*Слайдшоу на Главной*/

.image
{
    width: 100% !Important;
    height: auto !Important;
  padding: 0% !Important;
z-index: 0;
}

.image img 
{
 position: absolute !Important;
    width: 100% !Important;
/*    height: 420px;*/
    height:100% !Important;
/*    margin-top: 0%;*/
/*    margin-bottom: 0%;*/
z-index: 1 !Important;
margin: 0 auto !Important;
}
.image .item {
   position:absolute !Important;
    width: 100% !Important;
    height: 100% !Important;
    transform: translateZ(0) !Important;
    opacity: 0 !Important;
    top:0 !Important;
    bottom: 0 !Important;
    left: 0 !Important;
    right:0 !Important;
}

.image .active {
    opacity: 1 !Important;
}
.image ol{
     position: relative;
     display:inline-block !Important;
    width: 27% !Important;
    padding: 0% !Important;
    margin-top: 79% !Important;
    z-index: 1 !Important;
}
 .next.left,
 .prev.right {
     z-index: 6 !Important;
     width: 100% !Important;
     height:auto !Important;
  opacity: 0 !Important;
}
.active.left,
 .active.right { 
     z-index: 6 !Important;
     width: 100% !Important;
     height: auto !Important;
  opacity: 1 !Important;  
}
.left{
    position: absolute !Important;
    margin-top: 40% !Important;
    margin-bottom: 0% !Important;
    height: 10% !Important;
    z-index: 7 !Important;
}
.right{
    position: absolute !Important;
/*    margin-top: 40%;*/
    margin-top: 40% !Important;
    margin-bottom: 0% !Important;
    height: 10% !Important;
    z-index: 7 !Important;
}
/*Слайдшоу на Главной окончание*/
/*usl*/
.usl{
    width: 100% !Important;
    height: 100%;
    /*margin-right: -1.5%;*/
    background-color:cadetblue;
    color: azure;
    margin-left: 0% !Important;
    padding-left: 8% !Important;
}
/*usl окончание*/
/*---------Подвал-------------*/
.foot{
 background-color: #365699;
    width: 100%;
    height: auto;
    font-family: Arial;
     padding-top: 5px;
}
.en{
   display: flex;
   flex-flow: column nowrap;
}
.allbl{
    display: flex;
    justify-content: space-between;
}

.bl1{
    display: none !Important;
}
.bl2{
    display: none !Important;
}
.bl3{
    display: none !Important;
}
.links{
    display: flex;
    flex-flow:column nowrap !Important;
    width: 100%;
   /*justify-content: space-between;*/
    /*outline: 1px solid azure;*/
}
.alllinks{
    display: flex !Important;
    flex-flow: column nowrap !Important;
    width: 100% !Important;
}
.h-link{
    /*margin-left: 6% !Important;*/
    /*font-size: 70% !Important;*/
}
.linkset{
    display: flex !Important;
   justify-content: space-around !Important;
   
}
.footer-contacts{
    width: 100% !Important;
    text-align: center !Important;
/*    margin-left: 14%*/
}
.footer-contacts *{
    color: azure;
}
.footer-contacts a{
    text-decoration:underline;
    text-decoration-line:underline;
    text-decoration-style:solid;
    text-decoration-color:azure;
}
.footer-contacts a:hover{
    color: azure;
}
.footer-contacts a:visited{
    color: azure;
}
.footer-contacts a:link{
    color: azure;
}
h3{
    font-size: 70%;
    margin-top: auto;
    text-align: center;
    color: azure;
}

/*------Подвал окончание------------*/
/*------------Загородная недвижимость------------*/
.cont{
    position: relative !Important;
    display: flex !Important;
    flex-flow: row wrap !Important;
    width: 100% !Important;
    font-family: Arial;
}
.block1{
    position: relative !Important;
    display:flex !Important;
    flex-flow: row wrap !Important;
   width: 100% !Important;
    height: auto !Important;
}
.block1 div:nth-of-type(1n+2){
    margin-left: 0% !Important;
}
.block{
position: relative !Important;
width: 100% !Important;
    /*width: 65%;*/
    height: auto !Important;
  padding: 0% !Important;
z-index: 0 !Important;

}
.block input 

{ 
      position: relative !Important;
     display:inline-block !Important;
    padding: 1% !Important;
    margin-left: 4% !Important;
    margin-top: 73% !Important;
 z-index: 1 !Important;
    
}
.block label 
{     
    position: absolute !Important;
     left: 0 !Important;
    right: 0 !Important;
    bottom:0 !Important;
    top: 0 !Important;
    transition: 2s !Important;
    z-index: -1 !Important;
}
.block img 
{
  position:relative !Important;
  /*flex: 0 0 100%;*/
   width: 100% !Important;
    height: 100% !Important;
    /*transform: translate(-2%, -90%);*/
   /* -webkit-transform: translate(-17%, -92%);*/
}
.block label,
.block #a1:checked ~ [for="a1"],
.block #a2:checked ~ [for="a2"],
.block #a3:checked ~ [for="a3"],
.block #a4:checked ~ [for="a4"],
.block #a5:checked ~ [for="a5"]
{
 /* position:relative;    
      margin-top: 0%;
    margin-left: 0%;
    /*margin-left: -302%;*/
  
  visibility:hidden; opacity: 0 !Important; 
}
.block #a1:checked ~ [for="a2"],
.block #a2:checked ~ [for="a3"],
.block #a3:checked ~ [for="a4"],
.block #a4:checked ~ [for="a5"],
.block #a5:checked ~ [for="a1"]
{
    visibility: visible; opacity: 1 !Important;
}

.tabl
    {
        position: relative !Important;
        width: 100% !Important;
        height: auto !Important;
        right: 0 !Important;
        left:0 !Important;
        padding-left: 14% !Important;
    }
.tabl :nth-child(3){
    background-color:bisque !Important;
    text-align: center !Important;
}
.tabl1{
        /*width: 33%;*/
        position: relative !Important;
        width: 100% !Important;
        height: auto !Important;
        right: 0 !Important;
        left:0 !Important;
        padding-left: 10% !Important;
}

.tabl1 :nth-child(3){
    background-color:bisque !Important;
    text-align: center !Important;
}
.usl1{
    width: 100% !Important;
    /*width: 20%;*/
    background-color:cadetblue;
    color: azure !Important;
    margin-left: 0% !Important;
    padding-left: 8% !Important;
    font-family: Arial !Important;
}
.usl2{
    width: 100% !Important;
    /*width: 22%;*/
    /*padding: 2% !Important;*/
    margin-left: 0% !Important;
    padding-left: 8% !Important;
    background-color:cadetblue !Important;
    color: azure !Important;
    font-family: Arial !Important;
}
.abc{
    width: 100% !Important;
    margin-top: 0 !Important;
    height: auto !Important;
    padding-left: 2% !Important;
}
.menu2{
    display: none !Important;
}

/*------------Загородная недвижимость окончание------------*/
/*------------Зарубежная недвижимость------------*/
.contZarubezh{
    position: relative !Important;
    display: flex !Important;
    flex-flow: row wrap !Important;
    width: 100% !Important;
    font-family: Arial;
}
.block1Zarubezh{
    position: relative !Important;
    display:flex !Important;
    flex-flow: row wrap !Important;
   width: 100% !Important;
    height: auto !Important;
}
.block1Zarubezh div:nth-of-type(1n+2){
    margin-left: 0% !Important;
}
.blockZarubezh{
position: relative !Important;
width: 100% !Important;
    /*width: 65%;*/
    height: auto !Important;
  padding: 0% !Important;
z-index: 0 !Important;

}
.blockZarubezh input 

{ 
      position: relative !Important;
     display:inline-block !Important;
    padding: 1% !Important;
    margin-left: 4% !Important;
    margin-top: 73% !Important;
 z-index: 1 !Important;
    
}
.blockZarubezh label 
{     
    position: absolute !Important;
     left: 0 !Important;
    right: 0 !Important;
    bottom:0 !Important;
    top: 0 !Important;
    transition: 2s !Important;
    z-index: -1 !Important;
}
.blockZarubezh img 
{
  position:relative !Important;
  /*flex: 0 0 100%;*/
   width: 100% !Important;
    height: 100% !Important;
    /*transform: translate(-2%, -90%);*/
   /* -webkit-transform: translate(-17%, -92%);*/
}
.blockZarubezh label,
.blockZarubezh #a1:checked ~ [for="a1"],
.blockZarubezh #a2:checked ~ [for="a2"],
.blockZarubezh #a3:checked ~ [for="a3"],
.blockZarubezh #a4:checked ~ [for="a4"],
.blockZarubezh #a5:checked ~ [for="a5"]
{
 /* position:relative;    
      margin-top: 0%;
    margin-left: 0%;
    /*margin-left: -302%;*/
  
  visibility:hidden; opacity: 0 !Important; 
}
.blockZarubezh #a1:checked ~ [for="a2"],
.blockZarubezh #a2:checked ~ [for="a3"],
.blockZarubezh #a3:checked ~ [for="a4"],
.blockZarubezh #a4:checked ~ [for="a5"],
.blockZarubezh #a5:checked ~ [for="a1"]
{
    visibility: visible; opacity: 1 !Important;
}

.tablZarubezh
    {
        position: relative !Important;
        width: 100% !Important;
        height: auto !Important;
        right: 0 !Important;
        left:0 !Important;
        padding-left: 14% !Important;
    }
.tablZarubezh :nth-child(3){
    background-color:bisque !Important;
    text-align: center !Important;
}

.usl1Zarubezh{
    width: 100% !Important;
    /*width: 20%;*/
    background-color:cadetblue;
    color: azure !Important;
    margin-left: 0% !Important;
    padding-left: 8% !Important;
    font-family: Arial !Important;
}

.abcZarubezh{
    width: 100% !Important;
    margin-top: 0 !Important;
    height: auto !Important;
    padding-left: 2% !Important;
}
.menu2{
    display: none !Important;
}

/*------------Зарубежная недвижимость окончание------------*/

.menu_zagor{
    display: none !Important;
}
/*-----------Код для вкладки Квартиры----------------*/
.all_elements{
    position: relative !Important;
    display: flex !Important;
    /*width: 56% !Important;*/
    flex-flow: column nowrap !Important;
    align-content: center !Important;
    width: 100% !Important;
    font-family: Arial !Important;
    /*flex-flow: row wrap !Important;*/
    
}
 .first{
     position: relative !Important;
    display: flex !Important;
    width:100% !Important;
     height: auto !Important;
}
/*.first div:nth-of-type(1n){*/
/*   margin: 1% !Important;*/
/*}*/

.element{
    /*width: 100% !Important;*/
    height: auto !Important;
    position: relative !Important;
    display: flex !Important;
    flex-flow: column nowrap !Important;
    border: 1px solid #365699 !Important;
    margin:0.2% !Important;
    width: 49% !Important;
}
/*.element *{*/
/*    font-size: 90% !Important;*/
/*}*/
.figur figure{
    margin: 0 !Important;
}
 .figur img{
     
     position: relative !Important;
     width: 100% !Important;
     height: 200px !Important;
     top:0 !Important;
     left: 0 !Important;
     right: 0 !Important;
       
}
.x{
    width: 100% !Important;
    height: auto !Important;
    position: relative !Important;
    display:flex !Important;
    flex-flow: row nowrap !Important;
    font-size: 55% !Important;
}
.d{
    position: relative !Important;
    width: 34% !Important;
    line-height: 95% !Important;
    padding-top: 2% !Important;
    /*width: 40% !Important;*/
}
.d p{
    padding: 1% !Important;
    /*margin-top: -1% !Important;*/
}
/*.r {*/
/*    position: relative !Important;*/
/*    width: 50% !Important;*/
/*}*/

.r {
   line-height: 10% !Important;
    position: relative !Important;
    width: 64% !Important;
    text-align: left !Important;
    left: 0% !Important;
    margin-bottom: 0 !Important;
    margin-top: 3% !Important;
}

/*.r {*/
/*    text-align: left !Important;*/
/*    left: 5% !Important;*/
/*    padding-top: 10% !Important;*/
/*    position: relative !Important;*/
/*    width: 50% !Important;*/
/*}*/
/*.r *{*/
/*    font-size: 95% !Important;*/
/*}*/

.r p{
     
    padding-top: 6% !Important;
    margin-top: 2.5% !Important;
    
}
.r p a{
    color:rgba(54,86,153,0.9);
}

.poisk{
    position: relative !Important;
  background-color:cadetblue !Important;
    /*width: 24%;*/
    width: 100% !Important;
    font-family: sans-serif !Important;
}
.poisk p{
text-align: center !Important;
}
.form{
    display: flex !Important;
    flex-wrap: wrap !Important;
    flex-direction: row !Important;
    width: 91% !Important;
    margin-top: 2% !Important;
     background-color:cadetblue !Important;
    margin-left: 2% !Important;
    border: 1px solid azure !Important;
}
.optio{
    margin-left: 4% !Important;
    font-family: sans-serif !Important;
  
}
.f1{
    margin-top: 2% !Important;
    margin-left: 1% !Important;
    font-size: 88% !Important;
}
.n2{
    margin: 4% auto !Important;
}
/*-----------Код для вкладки Квартиры окончание----------------*/
/*Страница Новости*/
.news{
    /*width: 60%;*/
    width: 100% !Important;
    font-family: Arial !Important;
    /*padding: 1%;*/
}
.under{
    text-decoration: underline;
}

.usl3{
    flex-basis: 100% !Important;
     width: 100% !Important;
    margin-left: 0% !Important;
    padding-left: 8% !Important;
    background-color:cadetblue !Important;
    color: azure !Important;
    right:0;
    font-family: Arial !Important;
    /*flex-basis: 20%;*/
    /*padding-left: 2%;*/
    /*padding-right: 0;*/
    /*padding: 2%;*/
    /*background-color:cadetblue;*/
    /*color: azure;*/
}

/*Страница Новости окончание*/
/*-Страница История-*/

.history{
    flex-basis: 100% !Important;
     width: 100% !Important;
    margin-left: 0% !Important;
    padding-left: 8% !Important;
    font-family: Arial !Important;
    /*width: 100%;*/
    /*padding: 1%*/
}
/*Страница История окончание*/
/*-Страница Контакты-*/
.contact *{
    font-size:90% !Important;
}
.contact{
    display: flex !Important;
    /*flex-basis: 100% !Important;*/
    flex-direction: column !Important;
    flex-wrap: wrap !Important;
    width: 100% !Important;
    height: 100% !Important;
    /*width: 60%;*/
}
.set{
    /*width: auto !Important;*/
    width: 93% !Important;
    margin:1% !Important;
    height: auto !Important;
    background-color: azure !Important;
    padding: 2% !Important;
    font-family: Arial !Important;
}
     textarea{
       width: 99%/*390px*/ !Important;
       height:100px !Important;
     }
     .row{
       width: 100% !Important;
       /*border: 1px solid #000;*/
       padding: 1% 1% !Important;
     }
     .row input[type=text],
     .row input[type=submit],
     .row input[type=reset],
     .row select
     {
      float: right !Important;
     }
.con{
    margin-top: 0.1% !Important;
    background-color: #365699 !Important;
    width:100% !Important;
    font-family: Arial !Important;
}
.con *{
    color: azure !Important;
}

.map iframe{
    width: 26rem !Important;
   height: 18.5rem !Important;
}
/*-Страница Контакты Окончание-*/

/*-----Страница Руководство----------*/

.manag{
    width: 60%;
    padding: 1%;
    font-family: Arial;
}

/*-----Страница Руководство Окончание----------*/


/*---Страница Отзывы--------*/

.revie{
    width: 60%;
    padding: 1%;
    font-family: Arial;
}
.invisib{
   display: none; 
}

/*---Страница Отзывы Окончание--------*/

/*----------Пагинация Код--------------*/
.wPag{
    position:relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: column wrap;
    padding-bottom: 0.5% !Important;
    background-color: rgba(51, 106, 221, 0.1);
}
.pag {
    display: flex;
    width: auto;
    flex-flow: row nowrap;
    justify-content:center;
    /*Настройки контейнера*/
}

.pag a:nth-of-type(1n+2){
    margin-left: 2%;
}
/*.pag p{*/
/*    text-align:center;    */
/*}*/
/*.pag a{*/
/*    text-decoration: none;*/
/*    font-size: 2em;*/
/*    display: block;*/
/*    margin: -8px -8px;*/
/*    border: 1px solid #365699;*/
/*}*/

.pag>a{
    text-align:center;
    text-decoration: none;
    font-size: 1.5em;
    display: block;
    flex: 0.05 1 2%;
    background-color: rgba(51, 126, 428, 0.2);
    /*margin: -2% -2%;*/
    /*border: 1px solid #365699;*/
    /*flex: 0.05 1 2%;*/
    /*Всё общее для трех цифр*/
}
.pag>a:hover{
    display: inline;
    background-color: rgba(51, 126, 428, 0.4);
    /*padding-left: 16%;*/
    /*padding-right: 16%;*/
    /*padding-bottom: 6%;*/
    /*padding-top: 1%;*/
    /*Что меняется в ссылке по наведению на неё мыши*/
}
.pag>a.selected{
    background-color: rgba(51, 106, 221, 0.5);
    /*Какие свойства поменяются у выбранной цифры*/
}
.pag>a.selected:hover{
    background-color: rgba(51, 106, 221, 0.5);
    /*Какие свойства поменяются у выбранной цифры при наведении мыши*/
}
