/*-------------------------------------------------------*/
*{margin: 0; padding: 0;}
/**{font-style: Arial sans-serif;}*/

.navig *{
      color: #365699;
}
.navig ul {
    padding: 0;
    margin: 0;
    display: table;
    width: 100%;
}

.navig li {
    position: relative;
    display: table-cell;
    text-align: center;
/*    background-color: #f63;*/
    background-color: rgba(51, 106, 221, 0.4);
}
.navig ul ul {
    display:block;
    position:absolute;
    height: 0px;
    overflow: hidden;
    transition: all 0.5s 0.5s ease-out;
    z-index: 1;
}
.navig a{
    display:block;
    text-decoration: none;
    color: #fff;
    height: auto;
    line-height: 50px;
    width: 100%;
    text-transform: uppercase;
}
.navig a:hover {
/*    background-color: #f96;*/
    background-color: rgba(51, 106, 221, 0.8);
}
.navig ul ul li{
    display: block;
    width: auto;
}
.navig ul ul a {
/*    background-color: #f69;*/
    background-color: rgba(51, 106, 221, 0.1);
}
.navig ul ul a:hover {
/*    background-color: #69e;*/
    background-color: rgba(51, 106, 221, 0.7);
}
.navig li:hover ul{
    width:100%;
    height:200%;
}
.navig ul ul.list{
    width: 150%;
}
.navig li:hover .list{
    width:200%;
    height:300%;
    margin-left: -48%;
}
.navig li:hover .list1{
    width:200%;
    height:200%;
    margin-left: -48%;
}
.navig li:hover .list2{
    width:100%;
    height:100%;
}
/*
   .navig ul li{
    display:inline-block;
    margin: 0% 3%;
       
}
*/
 .menu1 ul {
    position:relative;
    margin:0%;
    padding: 0%;
    background-color: #cfd8dc;
    font-family: Arial;
     width: 100%;
}
/*
    .navig ul ul{
    display:none;
    position: absolute;
    margin-left: -1%;
    padding: inherit;
    background-color: #cfd8dc;
    z-index: 1;  
}
*/
/*
   .navig ul #li1:hover a{
    background-color: rgba(51, 106, 221, 0.1);
    display:inline-block; 
}
*/
/*
   .navig ul #li2:hover a{
    background-color: rgba(51, 106, 221, 0.1);
    display:inline-block;
}
*/
/*
   .navig ul #li3:hover a{
    background-color: rgba(51, 106, 221, 0.1);
    display:inline-block;
}
*/
/*
   .navig ul #li4:hover a{
    background-color: rgba(51, 106, 221, 0.1);
    display:inline-block;
}
*/
/*
  .navig ul li #lig1:hover a {
    background-color: rgba(51, 106, 221, 0.1);
    display:inline;
    padding-bottom: 30%;
    padding-top: 10%;   
}
*/
/*
.navig ul li #lig2:hover a {
   background-color: rgba(51, 106, 221, 0.1);
    display:inline;
    padding-bottom: 30%;
    padding-top: 2%;
    padding-left:15%;
    padding-right: 15%;   
}
*/

/*
.navig ul li #lig3:hover a{
    background-color: rgba(51, 106, 221, 0.1);
    display:inline;
    padding-top: 3.5%;
    padding-bottom: 8%;
    padding-left: 24%;
    padding-right: 24%;
}
*/
/*
.navig ul li #lig4:hover a{
    background-color: rgba(51, 106, 221, 0.1);
    display:inline;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 0.5%;
    padding-right: 0.5%;
}
*/
/*
.navig ul li #lig5:hover a{
    background-color: rgba(51, 106, 221, 0.1);
    display:inline;
    padding-top: 5%;
    padding-bottom: 9.8%;
    padding-left: 0%;
    padding-right: 0%;
}
*/

/*
.navig ul li #lig6:hover a{
    background-color: rgba(51, 106, 221, 0.1);
    display:inline;
    padding-top: 5.5%;
    padding-bottom: 15%;
}
*/
/*
.navig ul li #lig7:hover a{
    background-color: rgba(51, 106, 221, 0.1);
    display:inline;
    padding-top: 3.5%;
    padding-bottom: 14%;
    padding-left:15%;
    padding-right: 15%; 
}
*/
/*
.navig ul li #lig8:hover a{
    background-color: rgba(51, 106, 221, 0.1);
    display:inline;
    padding-top: 2%;
    padding-bottom: 4%;
    padding-left: 24%;
    padding-right: 24%;
}
*/
/*
.navig ul li #lig9:hover a{
    background-color: rgba(51, 106, 221, 0.1);
    display:inline;
    padding-top: 3%;
    padding-bottom: 5%;
    padding-left: 0%;
    padding-right: 0%;
}
*/
/*
.navig ul li #lig10:hover a{
    background-color: rgba(51, 106, 221, 0.1);
    display:inline;
    padding-top: 5.5%;
    padding-bottom: 14%;
}
*/
/*
.navig ul li #lig11:hover a{
    background-color: rgba(51, 106, 221, 0.1);
    display:inline;
    padding-top: 5.5%;
    padding-bottom: 14%;
    padding-left:15%;
    padding-right: 15%; 
}
*/
/*
.navig ul li #lig12:hover a{
    background-color: rgba(51, 106, 221, 0.1);
    display:inline;
    padding-top: 2%;
    padding-bottom: 4%; 
}
*/
/*
.navig ul li #lig13:hover a{
    background-color: rgba(51, 106, 221, 0.1);
    display:inline;
    padding-top: 2%;
    padding-bottom: 5%;
    padding-left: 0%;
    padding-right: 0%; 
}
*/
/*
.navig ul li #lig14:hover a{
    background-color: rgba(51, 106, 221, 0.1);
    display:inline;
    padding-top: 5.5%;
    padding-bottom: 14%;
    padding-left: 0%;
    padding-right: 0%; 
}
*/
/*
.navig ul li #lig15:hover a{
    background-color: rgba(51, 106, 221, 0.1);
    display:inline;
    padding-top: 2%;
    padding-bottom: 4%;
    padding-left: 24%;
    padding-right: 24%; 
}
*/
/*
.navig ul li #lig16:hover a{
    background-color: rgba(51, 106, 221, 0.1);
    display:inline;
    padding-top: 3%;
    padding-bottom: 2%;
    padding-left: 0%;
    padding-right: 0%; 
}
*/
/*
.navig ul li #lig17:hover a{
    background-color: rgba(51, 106, 221, 0.1);
    display:inline;
    padding-top: 2%;
    padding-bottom: 5%;
    padding-left: 0%;
    padding-right: 0%; 
}
*/
/*
    .navig li:hover ul{
    display:block;  
}
*/
/*
   .navig li:hover li{
    display:inline;
    text-align: center;
       background-color: rgba(51, 106, 221, 0.5);
}
*/

/*
    .navig ul a{
    text-decoration: none;
    font-size: 140%;
}
*/
/*
   .navig ul ul.list{
  margin-left: -12%; 
}
*/
/*
    .navig ul{
    text-align: center;

}
*/
 ul.menu4 li:hover a{
    text-decoration: underline;
}
ul.menu4 li{
    display:inline-block;
    font-size: 93%;
    padding: 1%;
    margin: 0%;
    margin-left: 0%;
}
 ul.menu4 *{
  color:azure;  
}
ul.menu4{
  background-color: #365699;  
}

ul.menu4 li a{
  text-decoration: none;  
}

ul.menu5 li:hover a{
    text-decoration: underline;
}
ul.menu5 li{
    display:inline-block;
    font-size: 81%;
    padding: 1%;
    margin: 0%;
}
ul.menu5 *{
  color:azure;  
}
 ul.menu5{
  background-color: #365699;  
}
ul.menu5 li a{
  text-decoration: none;  
}

/*--------------------------------------------------------*/
header{
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    background-color: #365699;
    
}
header div:nth-of-type(1n+2){
/*    margin-left: 9%;*/
   
}
.Logo{
    display: flex;
    
}

.Logo a img{
    position: relative;
    width: 30%;
}

    
.Name{
   position: relative;
   width: 75%;
    align-self: flex-end;
    margin-left: -25%;
}

.Name1{
    position: relative;
}
body{
    background-color: rgba(83,134,139,0.1);
   height: 100%; 
/*    width: 1280px;*/
    width: 1024px;
    margin: 0 auto;
}
.container{
    background-color: rgba(83,134,139,0.1);
    display: flex; 
   width: 100%;
    height: auto;
    padding: 0;
    
}
h1{
    color: azure;
    font-family: 'Barlow Condensed', sans-serif;
}


/*Меню навигации*/
.menu{
   width: 20%;
    text-align: left;
    /*margin-left: -1.5%;*/
background-color:cadetblue;
}
.menu ul {
    list-style-type: none;
    /*padding:10%;*/
}
.menu ul a{
    display:block;
    padding: 1%;
}
/*.menu ul li:nth-of-type(n+1){
    margin-top: 15%;
}*/
.menu ul *{
    color:azure;
    padding: 0%;
    font-size: 100%;
}
.menu ul li{
    position: relative;
    padding: 0%; 
}

.menu a{
    text-decoration: none;
    padding: 5px 10px;
}
.menu ul li:hover a{
    text-decoration: underline;
}
.menu li:hover a{
    display: block;
/*    padding: 0%;*/
    background-color:rgba(173,216,230,0.4);  
}

/*Меню навигации окончание*/

/*Слайдшоу на Главной*/

.image
{
    width: 60%;
    height: auto;
  padding: 0%;
z-index: 0;
}

.image img 
{
 position: absolute;
    width: 100%;
/*    height: 420px;*/
    height:100%;
/*    margin-top: 0%;*/
/*    margin-bottom: 0%;*/
z-index: 1;
}
.image .item {
   position:absolute;
    width: 100%;
    height: 100%;
    transform: translateZ(0);
    opacity: 0;
    top:0;
    bottom: 0;
    left: 0;
    right:0;
}

.image .active {
    opacity: 1;
}
.image ol{
     position: relative;
     display:inline-block;
    width: 20%;
    padding: 0%;
    margin-top: 79%;
    z-index: 1;
}
 .next.left,
 .prev.right {
     z-index: 6;
     width: 100%;
     height:auto;
  opacity: 0;
}
.active.left,
 .active.right { 
     z-index: 6;
     width: 100%;
     height: auto;
  opacity: 1;  
}
.left{
    position: absolute;
    margin-top: 40%;
    margin-bottom: 0%;
    height: 10%;
    z-index: 7;
}
.right{
    position: absolute;
/*    margin-top: 40%;*/
    margin-top: 40%;
    margin-bottom: 0%;
    height: 10%;
    z-index: 7;
}
/*Слайдшоу на Главной окончание*/
/*usl*/
.usl{
    width: 30%;
    /*margin-right: -1.5%;*/
    padding: 2%;
    background-color:cadetblue;
    color: azure;
}
/*usl окончание*/
/*---------Подвал-------------*/
.foot{
 background-color: #365699;
    width: 100%;
    height: auto;
    font-family: Arial;
    padding-top: 5px;
}
.en{
   display: flex;
   flex-flow: column nowrap;
}
.allbl{
    display: flex;
    justify-content: space-between;
}
.bl1 *{
    color:azure;
}
.bl2 *{
    color:azure;
}
.bl3 *{
    color:azure;
}
.bl1{
    display: flex;
    flex-flow: column nowrap;
    margin-left: 5%;
}
.bl2{
    display: flex;
    flex-flow: column nowrap;
}
.bl3{
    display: flex;
    flex-flow: column nowrap;
    margin-right: 5%;
}
.block12 ul{
 list-style-type: none;
}
.block12 a{
    text-decoration:underline;
    text-decoration-line:underline;
    text-decoration-style:solid;
    text-decoration-color:azure;
}
.block12 a:hover{
    color: azure;
}
.block12 a:visited{
    color: azure;
}
.block22 ul{
 list-style-type: none;       
}
.block22 a{
    text-decoration:underline;
    text-decoration-line:underline;
    text-decoration-style:solid;
    text-decoration-color:azure;
}
.block22 a:hover{
    color: azure;
}
.block22 a:visited{
    color: azure;
}
.block32 ul{
 list-style-type: none;       
}
.block32 a{
    text-decoration:underline;
    text-decoration-line:underline;
    text-decoration-style:solid;
    text-decoration-color:azure;
}
.block32 a:hover{
    color: azure;
}
.block32 a:visited{
    color: azure;
}
.links{
    display: flex;
    width: 100%;
   justify-content: space-between;
    outline: 1px solid azure;
}
.alllinks{
    display: flex;
    flex-flow: column nowrap;
    width: 40%;
}
.h-link{
    margin-left: 6%;
}
.linkset{
    display: flex;
   justify-content: space-around;
}
.footer-contacts{
    width: 46%;
    padding: 1%;
/*    margin-left: 14%*/
}
.footer-contacts *{
    color: azure;
}
.footer-contacts a{
    text-decoration:underline;
    text-decoration-line:underline;
    text-decoration-style:solid;
    text-decoration-color:azure;
}
.footer-contacts a:hover{
    color: azure;
}
.footer-contacts a:visited{
    color: azure;
}
.footer-contacts a:link{
    color: azure;
}
h3{
    font-size: 150%;
    margin-top: auto;
    text-align: left;
    color: azure;
}

/*------Подвал окончание------------*/
/*------------Загородная недвижимость------------*/
.cont{
    position: relative;
    display: flex;
    flex-flow: row wrap;
    width: 67%;
    font-family: Arial;
    font-size: 92%;
}
.block1{
    position: relative;
    display:flex;
    flex-flow: row wrap;
   width: 100%;
    height: auto;
    
}
.block1 div:nth-of-type(1n+2){
    margin-left: 0%;
}
.block{
position: relative;
    width: 65%;
    height: 100%;
  padding: 0%;
z-index: 0;

}
.block input 

{ 
      position: relative;
     display:inline-block;
    padding: 1%;
  margin-top: 71%;
    /*margin-top: 80%;*/
 z-index: 1;
    
}
.block label 
{     
    position: absolute;
     left: 0;
    right: 0;
    bottom:0;
    top: 0;
    transition: 2s;
    z-index: -1;
}
.block img 
{
  position:relative;
  /*flex: 0 0 100%;*/
   width: 100%;
    height: 98%;
    /*transform: translate(-2%, -90%);*/
   /* -webkit-transform: translate(-17%, -92%);*/
}
.block label,
.block #a1:checked ~ [for="a1"],
.block #a2:checked ~ [for="a2"],
.block #a3:checked ~ [for="a3"],
.block #a4:checked ~ [for="a4"],
.block #a5:checked ~ [for="a5"]
{
 /* position:relative;    
      margin-top: 0%;
    margin-left: 0%;
    /*margin-left: -302%;*/
  
  visibility:hidden; opacity: 0; 
}
.block #a1:checked ~ [for="a2"],
.block #a2:checked ~ [for="a3"],
.block #a3:checked ~ [for="a4"],
.block #a4:checked ~ [for="a5"],
.block #a5:checked ~ [for="a1"]
{
    visibility: visible; opacity: 1;
}

.tabl
    {
        position: relative;
        width: 35%;
        height: auto;
        padding-left: 3%;
        right: 0;
        left:0;
        
    }
.tabl :nth-child(3){
    background-color:bisque;
    text-align: center;
}
.tabl1{
    position: relative;
        width: 35%;
        /*height: 100%;*/
        height: 90%;
        padding: 0;
    margin: 0;
    right: 0;
        left:0;
/*    padding-left: 4%;*/
/*
    padding: 0;
    margin: 0;
*/
}
.tabl1 :nth-child(3){
    background-color:bisque;
    text-align: center;
}

.usl2{
    width: 20%;
    padding: 2%;
    /*padding-left: 2%;*/
    /*padding-right: 0;*/
    background-color:cadetblue;
    color: azure;
    font-family: Arial;
    
}
.abc{
    width: 100%;
    margin-top: 0%;
    height: auto;
    padding: 2%;
}

/*------------Загородная недвижимость окончание------------*/
/*------------Зарубежная недвижимость------------*/
.contZarubezh{
     position: relative;
    display: flex;
    flex-flow: row wrap;
    width: 62%;
    font-family: Arial;
    font-size: 92%;
}
.block1Zarubezh{
    position: relative;
    display:flex;
    flex-flow: row wrap;
   width: 100%;
    height: 67%;
}
.block1Zarubezh div:nth-of-type(1n+2){
    margin-left: 0%;
}
.blockZarubezh{
position: relative;
    width: 65%;
    height: 100%;
  padding: 0%;
z-index: 0;

}
.blockZarubezh input 

{ 
      position: relative;
     display:inline-block;
    padding: 1%;
/*    margin-top: 73%;*/
    margin-top: 80%;
 z-index: 1;
    
}
.blockZarubezh label 
{     
    position: absolute;
     left: 0;
    right: 0;
    bottom:0;
    top: 0;
    transition: 2s;
    z-index: -1;
}
.blockZarubezh img 
{
  position:relative;
  /*flex: 0 0 100%;*/
   width: 100%;
    height: 100%;
    /*transform: translate(-2%, -90%);*/
   /* -webkit-transform: translate(-17%, -92%);*/
}
.blockZarubezh label,
.blockZarubezh #a1:checked ~ [for="a1"],
.blockZarubezh #a2:checked ~ [for="a2"],
.blockZarubezh #a3:checked ~ [for="a3"],
.blockZarubezh #a4:checked ~ [for="a4"],
.blockZarubezh #a5:checked ~ [for="a5"]
{
 /* position:relative;    
      margin-top: 0%;
    margin-left: 0%;
    /*margin-left: -302%;*/
  
  visibility:hidden; opacity: 0; 
}
.blockZarubezh #a1:checked ~ [for="a2"],
.blockZarubezh #a2:checked ~ [for="a3"],
.blockZarubezh #a3:checked ~ [for="a4"],
.blockZarubezh #a4:checked ~ [for="a5"],
.blockZarubezh #a5:checked ~ [for="a1"]
{
    visibility: visible; opacity: 1;
}

.tablZarubezh
    {
        position: relative;
        width: 35%;
        height: 100%;
/*        padding-left: 3%;*/
        right: 0;
        left:0;
        
    }
.tablZarubezh :nth-child(3){
    background-color:bisque;
    text-align: center;
}
.usl1Zarubezh{
    width: 19%;
    background-color:cadetblue;
    color: azure;
    padding-left: 2%;
    padding-right: 0;
    font-family: Arial;
}

.abcZarubezh{
    width: 100%;
    margin-top: 0;
    height: auto;
    padding: 2%;
    
}

/*------------Зарубежная недвижимость окончание------------*/

/*------------*/
.menu_zagor{  
    width: 20%;
    text-align: left;
background-color:cadetblue;
font-family: Arial;
}
.menu_zagor ul {
    list-style-type: none;
/*    padding: 10%;*/
}

.menu_zagor ul a{
    display: block;
    padding: 1%;
}
.menu_zagor ul *{
    color:azure;
    padding: 0%;
    font-size: 100%
}
.menu_zagor ul li{
    position: relative;
     padding: 1% 0%;
}

/*.menu2 ul li:nth-of-type(n+1){
    margin-top: 15%;
}*/

.menu_zagor a{
    text-decoration: none;
}
.menu_zagor ul li:hover a{
    text-decoration: underline;
}
.menu_zagor li:hover a{
    display: block;
    background-color:rgba(173,216,230,0.4);
}

/*-----------Код для вкладки Квартиры----------------*/
.all_elements{
    position: relative;
    display: flex;
    width: 100%;
/*    width: 100%;*/
    flex-flow: column nowrap;
/*    align-content: center;*/
    font-family: Arial;
}
 .first{
     position: relative;
    display: flex;
    width:auto;
/*     width:100%;*/
     height: auto;
     
}
/*
.first div:nth-of-type(1n){
   margin: 1%;}
*/


.element{
    width: auto;
/*    width: 30%;*/
    height: auto;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    border: 1px solid #365699;
    margin:0.2%;
    -moz-margin:0.2%;
}
.figur figure{
    
    margin: 0;
}
 .figur img{
     
     position: relative;
     width: auto;
     height: auto;
/*
     width: 100%;
     height: 200px;
*/
     top:0;
     left: 0;
     right: 0;
       
}
.x{
    width: 100%;
    height: auto;
    position: relative;
    display:flex;
    flex-flow: row nowrap;
}
.d{
    position: relative;
    width: 34%;
    line-height: 13px;
/*    line-height: 18px;*/
}
.d p{
    padding: 0.6%;
    font-size: 85%;
}

/*
.d p{
    margin-top: 2.7%;}*/



.r {
   line-height: 5px;
/*    line-height: 5px;*/
    position: relative;
/*    width: 64%;*/
    width: 64%;
    text-align: left;
    left: 0%;
/*    padding-top: 4%;*/
/*    margin-top: 5%;*/
    margin-bottom: 0;
    margin-top: 0.5%;
}
.r p{
     
/*    padding-top: 9.8%;---Было до Пагинации*/
/*    padding-top: 7.8%;*/
padding-top: 7.4%;
    padding-left: 2%;
    font-size: 75%;
}

.r p a{
/*    color: #365699;*/
    color:rgba(54,86,153,0.9);
}
/*
.r{
    -moz-position: relative;
    -moz-width: 64%;
    -moz-text-align: left;
    -moz-left: 0%;
    -moz-padding-top: 15.5%;
    -moz-margin-bottom: 0;
}
*/
/*.r *{
    font-size: 95%;
}*/

.poisk{
    position: relative;
  background-color:cadetblue;
/*    width: 40%;*/
    width: 78%;
/*    width: 24%;*/
    font-family: sans-serif;
}
.poisk p{
text-align: center;
}
.form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 91%;
    margin-top: 2%;
     background-color:cadetblue;
    margin-left: 2%;
    border: 1px solid azure;
}
.optio{
    margin-left: 4%;
    font-family: sans-serif;
  
}
.f1{
    margin-top: 2%;
    margin-left: 1%;
    font-size: 88%;
}
.n2{
    margin: 4% auto;
}

.menu2{
   width: 40%;
/*    width: 20%;*/
    text-align: left;
background-color:cadetblue;
font-family: Arial;
}
.menu2 ul {
    list-style-type: none;
}
.menu2 ul a{
    display: block;
    padding: 1%;
}
.menu2 ul *{
    color:azure;
    padding: 0%;
    font-size: 100%
}
.menu2 ul li{
    position: relative;
    padding:0;
}

/*.menu2 ul li:nth-of-type(n+1){
    margin-top: 15%;
}*/

.menu2 a{
    text-decoration: none;
}
.menu2 ul li:hover a{
    text-decoration: underline;
}
.menu2 li:hover a{
    display: block;
    background-color:rgba(173,216,230,0.4);
}
/*-----------Код для вкладки Квартиры окончание----------------*/

/*Страница Новости*/
.news{
    width: 60%;
    padding: 1%;
    font-family: Arial;
}
.under{
    text-decoration: underline;
}

.usl3{
    flex-basis: 20%;
    padding-left: 2%;
    padding-right: 0;
    padding: 2%;
    background-color:cadetblue;
    color: azure;
    font-family: Arial;
}

/*Страница Новости окончание*/
/*-Страница История-*/

.history{
    width: 60%;
    padding: 1%;
    font-family: Arial;
}

/*Страница История окончание*/

/*-Страница Контакты-*/
.contact{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 60%;
}
.set{
    /*width: 62%;*/
    width: 94%;
    margin:1%;
    height: auto;
    background-color: azure;
    padding: 2%;
    font-family: Arial;
}
     textarea{
       width: 99%/*390px*/;
       height:auto;
     }
     .row{
       width: 100%;
       /*border: 1px solid #000;*/
       padding: 1% 1%;
     }
     .row input[type=text],
     .row input[type=submit],
     .row input[type=reset],
     .row select
     {
      float: right;
     }
.con{
    margin-top: 0.2%;
    background-color: #365699;
    width:100%;
    font-family: Arial;
}
.con *{
    color: azure;
}
.map{
    width: 100%;
}

/*-Страница Контакты Окончание-*/

/*-----Страница Руководство----------*/

.manag{
    width: 60%;
    padding: 1%;
    font-family: Arial;
}

/*-----Страница Руководство Окончание----------*/


/*---Страница Отзывы--------*/

.revie{
    width: 60%;
    padding: 1%;
    font-family: Arial;
}
.invisib{
   display: none; 
}

/*---Страница Отзывы Окончание--------*/

/*----------Пагинация Код--------------*/
.wPag{
    position:relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: column wrap;
    padding-bottom: 0.5% !Important;
    background-color: rgba(51, 106, 221, 0.1);
}
.pag {
    display: flex;
    width: auto;
    flex-flow: row nowrap;
    justify-content:center;
    /*Настройки контейнера*/
}

.pag a:nth-of-type(1n+2){
    margin-left: 2%;
}
/*.pag p{*/
/*    text-align:center;    */
/*}*/
/*.pag a{*/
/*    text-decoration: none;*/
/*    font-size: 2em;*/
/*    display: block;*/
/*    margin: -8px -8px;*/
/*    border: 1px solid #365699;*/
/*}*/

.pag>a{
    text-align:center;
    text-decoration: none;
    font-size: 1.5em;
    display: block;
    flex: 0.05 1 2%;
    background-color: rgba(51, 126, 428, 0.2);
    /*margin: -2% -2%;*/
    /*border: 1px solid #365699;*/
    /*flex: 0.05 1 2%;*/
    /*Всё общее для трех цифр*/
}
.pag>a:hover{
    display: inline;
    background-color: rgba(51, 126, 428, 0.4);
    /*padding-left: 16%;*/
    /*padding-right: 16%;*/
    /*padding-bottom: 6%;*/
    /*padding-top: 1%;*/
    /*Что меняется в ссылке по наведению на неё мыши*/
}
.pag>a.selected{
    background-color: rgba(51, 106, 221, 0.5);
    /*Какие свойства поменяются у выбранной цифры*/
}
.pag>a.selected:hover{
    background-color: rgba(51, 106, 221, 0.5);
    /*Какие свойства поменяются у выбранной цифры при наведении мыши*/
}




/*.pag .in1 .a1{
    padding: 30%;
}
*/
/*.pag .in1:hover a{
    display: inline;
    background-color: aquamarine;
    padding-left: 16%;
    padding-right: 16%;
    padding-bottom: 6%;
    padding-top: 1%;
}*/
/*----Пагинация article1-------*/
/*.pag .in1{*/
/*    border: 1px solid #365699;*/
/*    flex: 0 1 2%;*/
/*}*/
/*.pag .in2{*/
/*   border: 1px solid #365699;*/
/*    flex: 0 1 2%; */
/*}*/

/*.pag .in3{*/
/*   border: 1px solid #365699;*/
/*    flex: 0 1 2%; */
/*}*/
/*.pag .in1{*/
/*    background-color: rgba(51, 106, 221, 0.5);*/
/*}*/

/*.pag .in2:hover a{*/
/*    display: inline;*/
/*    background-color: rgba(51, 126, 428, 0.4);*/
/*    padding-left: 16%;*/
/*    padding-right: 16%;*/
/*    padding-bottom: 6%;*/
/*    padding-top: 1%;*/
/*}*/

/*.pag .in3:hover a{*/
/*    display: inline;*/
/*    background-color: rgba(51, 126, 428, 0.4);*/
/*    padding-left: 16%;*/
/*    padding-right: 16%;*/
/*    padding-bottom: 6%;*/
/*    padding-top: 1%;*/
/*}*/

/*----Пагинация article2-------*/
/*.pag .in4{*/
/*    border: 1px solid #365699;*/
/*    flex: 0 1 2%;*/
    
/*}*/
/*.pag .in5{*/
/*   border: 1px solid #365699;*/
/*    flex: 0 1 2%; */
/*}*/

/*.pag .in6{*/
/*   border: 1px solid #365699;*/
/*    flex: 0 1 2%; */
/*}*/


/*.pag .in4:hover a{*/
/*    display: inline;*/
/*    background-color: rgba(51, 126, 428, 0.4);*/
/*    padding-left: 16%;*/
/*    padding-right: 16%;*/
/*    padding-bottom: 6%;*/
/*    padding-top: 1%;*/
/*}*/

/*.pag .in5{*/
/*    background-color: rgba(51, 106, 221, 0.5);*/
/*}*/

/*.pag .in6:hover a{*/
/*    display: inline;*/
/*    background-color: rgba(51, 126, 428, 0.4);*/
/*    padding-left: 16%;*/
/*    padding-right: 16%;*/
/*    padding-bottom: 6%;*/
/*    padding-top: 1%;*/
/*}*/

/*----Пагинация article3-------*/
/*.pag .in7{*/
/*    border: 1px solid #365699;*/
/*    flex: 0 1 2%;*/
    
/*}*/
/*.pag .in8{*/
/*   border: 1px solid #365699;*/
/*    flex: 0 1 2%; */
/*}*/

/*.pag .in9{*/
/*   border: 1px solid #365699;*/
/*    flex: 0 1 2%; */
/*}*/

/*.pag .in7:hover a{*/
/*    display: inline;*/
/*    background-color: rgba(51, 126, 428, 0.4);*/
/*    padding-left: 16%;*/
/*    padding-right: 16%;*/
/*    padding-bottom: 6%;*/
/*    padding-top: 1%;*/
/*}*/

/*.pag .in8:hover a{*/
/*    display: inline;*/
/*    background-color: rgba(51, 126, 428, 0.4);*/
/*    padding-left: 16%;*/
/*    padding-right: 16%;*/
/*    padding-bottom: 6%;*/
/*    padding-top: 1%;*/
/*}*/
/*.pag .in9{*/
/*    background-color: rgba(51, 106, 221, 0.5);*/
/*}*/

